# Pre procesamiento de los datos
Modificado en Oct 21, 2020

Los datos han sido extraídos del repositorio oficial de [Airbnb](http://insideairbnb.com/get-the-data.html). Este script ulitiza la actualización de Septiempre 7 del 2020 para la ciudad de New York

In [1]:
import pandas as pd
import numpy as np

In [2]:
listings=pd.read_csv('C:\\Users\\Andrea\\Desktop\\Datasets\\Airbnb NY\\listings.csv.gz', compression='gzip')
print('El dataset de entrada contiene', len(listings.columns), 'columnas', 'y', len(listings), 'filas')

El dataset de entrada contiene 74 columnas y 45756 filas

In [3]:
with pd.option_context('display.max_rows', 2, 'display.max_columns', None): 
    display(listings)

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,https://www.airbnb.com/rooms/2595,20200907203555,2020-09-08,Skylit Midtown Castle,"Beautiful, spacious skylit studio in the heart...",Centrally located in the heart of Manhattan ju...,https://a0.muscache.com/pictures/f0813a11-40b2...,2845,https://www.airbnb.com/users/show/2845,Jennifer,2008-09-09,"New York, New York, United States",A New Yorker since 2000! My passion is creatin...,within a day,83%,24%,f,https://a0.muscache.com/im/pictures/user/50fc5...,https://a0.muscache.com/im/pictures/user/50fc5...,Midtown,6.0,6.0,"['email', 'phone', 'reviews', 'offline_governm...",t,t,"New York, United States",Midtown,Manhattan,40.753620,-73.983770,Entire apartment,Entire home/apt,2,NaN,1 bath,NaN,1.0,"[""Iron"", ""Cleaning before checkout"", ""Extra pi...",$175.00,3,1125,3.0,3.0,1125.0,1125.0,3.0,1125.0,NaN,t,30,60,90,365,2020-09-08,48,1,0,2009-11-21,2019-11-04,94.0,9.0,9.0,10.0,10.0,10.0,9.0,NaN,f,2,2,0,0,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45755,45330395,https://www.airbnb.com/rooms/45330395,20200907203555,2020-09-08,Cozy Studio in a Brand New Building,Furnishes Studio with equipped Kitchen in Midt...,NaN,https://a0.muscache.com/pictures/6d38d398-2d0b...,51501835,https://www.airbnb.com/users/show/51501835,Jeniffer,2015-12-16,"New York, New York, United States",NaN,within a day,63%,76%,f,https://a0.muscache.com/im/pictures/user/dd35e...,https://a0.muscache.com/im/pictures/user/dd35e...,Hell's Kitchen,89.0,89.0,"['email', 'phone', 'reviews', 'kba', 'work_ema...",t,t,NaN,Hell's Kitchen,Manhattan,40.767254,-73.990176,Entire apartment,Entire home/apt,2,NaN,1 bath,NaN,1.0,"[""Iron"", ""Carbon monoxide alarm"", ""Dryer"", ""He...",$75.00,30,365,30.0,30.0,365.0,365.0,30.0,365.0,NaN,t,1,31,61,336,2020-09-08,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,88,88,0,0,NaN

In [4]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

#### 1. Columnas de valor único

In [5]:
for col in listings.columns: ##Eliminando las columnas que tienen un solo valor 
    if len(listings[col].unique()) == 1:
        listings.drop(col,inplace=True,axis=1)
        
print('Luego de remover las columnas con un valor único permanecen', len(listings.columns),'columnas')

Luego de remover las columnas con un valor único permanecen 70 columnas

#### 2. Convirtiendo strings en floats

def convert_to_numbers(dataset, column): #Eliminando $ del string y convirtiendolo en número
    dataset[column]=dataset[column].str.replace('[$,]', '').astype('float')
    return print('La columna', column, 'ha sido modificada de string a float')

Columns_to_convert=['price']

for variable in Columns_to_convert:
    convert_to_numbers(listings, variable)

In [6]:
listings['price']=listings['price'].str.replace('[$,]', '').astype('float')

In [7]:
def removing_percentage (dataset, column): #Eliminando % del string y convirtiendolo en número
    dataset[column]=dataset[column].str.replace('%', '').astype('float')
    print('La columna', column, 'ha sido modificada de string a float')

removing_perc=['host_acceptance_rate', 'host_response_rate']

for var in removing_perc:
    removing_percentage(listings, var)

La columna host_acceptance_rate ha sido modificada de string a float
La columna host_response_rate ha sido modificada de string a float

#### 3. Datos faltantes

In [8]:
pd.set_option("display.max_rows", 100)
is_na=listings.isna().sum().sort_values(ascending=False)
np.round(100*is_na/len(np.unique(listings['id'])),2)

host_response_time                              52.12
host_response_rate                              52.12
host_about                                      39.75
neighborhood_overview                           36.49
neighbourhood                                   36.48
host_acceptance_rate                            36.12
review_scores_location                          25.68
review_scores_value                             25.68
review_scores_checkin                           25.67
review_scores_accuracy                          25.64
review_scores_communication                     25.63
review_scores_cleanliness                       25.61
review_scores_rating                            25.57
first_review                                    23.24
reviews_per_month                               23.24
last_review                                     23.24
host_neighbourhood                              16.48
bedrooms                                         9.63
description                                      2.95
beds                                             1.10
host_location                                    0.30
bathrooms_text                                   0.20
name                                             0.04
host_name                                        0.03
host_total_listings_count                        0.03
host_picture_url                                 0.03
host_has_profile_pic                             0.03
host_identity_verified                           0.03
host_thumbnail_url                               0.03
host_is_superhost                                0.03
host_since                                       0.03
host_listings_count                              0.03
maximum_nights_avg_ntm                           0.02
minimum_minimum_nights                           0.02
maximum_minimum_nights                           0.02
minimum_nights_avg_ntm                           0.02
maximum_maximum_nights                           0.02
minimum_maximum_nights                           0.02
host_id                                          0.00
number_of_reviews_l30d                           0.00
listing_url                                      0.00
last_scraped                                     0.00
instant_bookable                                 0.00
host_url                                         0.00
calculated_host_listings_count                   0.00
calculated_host_listings_count_entire_homes      0.00
calculated_host_listings_count_private_rooms     0.00
picture_url                                      0.00
number_of_reviews_ltm                            0.00
calendar_last_scraped                            0.00
number_of_reviews                                0.00
host_verifications                               0.00
amenities                                        0.00
availability_90                                  0.00
availability_60                                  0.00
availability_30                                  0.00
has_availability                                 0.00
maximum_nights                                   0.00
minimum_nights                                   0.00
price                                            0.00
calculated_host_listings_count_shared_rooms      0.00
availability_365                                 0.00
accommodates                                     0.00
room_type                                        0.00
property_type                                    0.00
longitude                                        0.00
latitude                                         0.00
neighbourhood_group_cleansed                     0.00
neighbourhood_cleansed                           0.00
id                                               0.00
dtype: float64

In [9]:
listings.bedrooms=listings.bedrooms.fillna(listings.bedrooms.mean(), inplace=True) #Se llena con la media
listings.beds=listings.beds.fillna(listings.beds.mean(), inplace=True) #Se llena con la media

Se identifican y almacenan para eliminar las columnas con un porcentaje superior a 25% de datos faltantes

In [10]:
most_missing_cols = listings.columns[listings.isnull().mean() > 0.25]
most_missing_cols =most_missing_cols.to_list() #Columnas con un porcentaje de datos faltantes superior al 30%

#### 4. Agrupando 'Property_type' y 'Bed_type

In [11]:
listings.pivot_table(index='property_type', values='id', aggfunc='count').sort_values(by='id', ascending=False)

                                       id
property_type
Entire apartment                    19132
Private room in apartment           15668
Private room in house                2301
Entire house                         1121
Private room in townhouse            1051
Entire condominium                   1049
Entire loft                           743
Shared room in apartment              699
Entire townhouse                      639
Private room in condominium           569
Private room in loft                  418
Room in boutique hotel                390
Entire serviced apartment             373
Room in hotel                         318
Entire guest suite                    277
Private room in guest suite           107
Shared room in house                  100
Private room in hostel                 83
Room in aparthotel                     54
Private room in resort                 50
Room in serviced apartment             48
Private room in bed and breakfast      46
Entire guesthouse                      43
Entire place                           39
Shared room in loft                    39
Shared room in condominium             34
Private room in guesthouse             32
Private room                           32
Private room in serviced apartment     30
Private room in villa                  20
Shared room in townhouse               20
Entire bungalow                        19
Entire resort                          17
Tiny house                             15
Entire floor                           12
Shared room in hostel                  12
Camper/RV                              10
Shared room in serviced apartment       9
Shared room in bed and breakfast        9
Boat                                    8
Entire home/apt                         7
Private room in tiny house              7
Entire cottage                          7
Private room in bungalow                7
Houseboat                               7
Room in hostel                          6
Entire villa                            6
Shared room in guest suite              6
Private room in earth house             5
Private room in tent                    4
Private room in camper/rv               4
Room in bed and breakfast               4
Shared room in boutique hotel           4
Private room in casa particular         3
Shared room                             3
Shared room in floor                    2
Shared room in guesthouse               2
Room in resort                          2
Barn                                    2
Private room in floor                   2
Private room in dome house              2
Private room in castle                  2
Cave                                    2
Private room in cabin                   2
Private room in barn                    2
Lighthouse                              1
Shared room in yurt                     1
Bus                                     1
Shared room in tent                     1
Campsite                                1
Casa particular                         1
Shared room in island                   1
Castle                                  1
Entire timeshare                        1
Private room in yurt                    1
Private room in train                   1
Shared room in bungalow                 1
Private room in cave                    1
Private room in cottage                 1
Private room in dorm                    1
Private room in farm stay               1
Private room in in-law                  1
Private room in island                  1
Private room in lighthouse              1
Shared room in earth house              1

In [12]:
listings.loc[listings.property_type.str.contains('oom'), 'property_type']='Room'
listings.loc[listings.property_type.str.contains('ap'), 'property_type']='Apartment'
listings.loc[listings.property_type.str.contains('house'), 'property_type']='House'
listings.loc[listings.property_type.str.contains('Casa'), 'property_type']='House'

In [13]:
listings.loc[~listings['property_type'].isin(['Room', 'Apartment', 'House']),'property_type']='Other'
listings.pivot_table(index='property_type', values='id', aggfunc='count').sort_values(by='id', ascending=False)

                  id
property_type
Room           22222
Apartment      19512
Other           2202
House           1820

In [14]:
listings.pivot_table(index='room_type', values='id', aggfunc='count').sort_values(by='id', ascending=False)

                    id
room_type
Entire home/apt  23577
Private room     20842
Shared room        944
Hotel room         393

In [15]:
listings['room_type']=listings['room_type'].replace('Hotel room', 'Private room')

#### 5. Columnas a eliminar dada la naturaleza de sus datos

In [16]:
url_field=list(listings.filter(like='url').columns) 
other_pricing_field=list(listings.filter(like='_price').columns)
text_field=['name','neighborhood_overview', 'host_about','description']
other_geo=[  'neighbourhood',  'neighbourhood_cleansed',  'neighbourhood_group_cleansed']
host=['host_id', 'host_name', 'host_since','host_location','host_about','host_neighbourhood',
      'calculated_host_listings_count_private_rooms' ,'host_total_listings_count',
      'calculated_host_listings_count_entire_homes','host_verifications', 'calculated_host_listings_count_shared_rooms']
dates=['last_scraped', 'host_since', 'calendar_last_scraped']
nights=['minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm']
reviews=['number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review',
        ]

In [17]:
listings=listings.drop(most_missing_cols +url_field+other_pricing_field+text_field+other_geo+host+dates+nights+reviews, axis=1)

In [18]:
with pd.option_context('display.max_rows', 3, 'display.max_columns', None): 
    display(listings)

,id,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,amenities,price,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,instant_bookable,calculated_host_listings_count,reviews_per_month
0,2595,f,6.0,t,t,40.753620,-73.983770,Apartment,Entire home/apt,2,1 bath,"[""Iron"", ""Cleaning before checkout"", ""Extra pi...",175.0,3,1125,t,30,60,90,365,48,f,2,0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45755,45330395,f,89.0,t,t,40.767254,-73.990176,Apartment,Entire home/apt,2,1 bath,"[""Iron"", ""Carbon monoxide alarm"", ""Dryer"", ""He...",75.0,30,365,t,1,31,61,336,0,f,88,NaN

#### 6. Reemplazando f, t por 0,1

In [19]:
listings.replace({'f': 0, 't': 1}, inplace=True)

#### 7. Bathrooms

In [20]:
listings['bathroom_type']=0
listings.bathrooms_text=listings.bathrooms_text.fillna('No data')
listings.loc[listings.bathrooms_text.str.contains('shared'), 'bathroom_type']='Shared'
listings.loc[~listings.bathrooms_text.str.contains('shared'), 'bathroom_type']='Private'
listings.pivot_table(index='bathroom_type', values='id', aggfunc='count')

                  id
bathroom_type
Private        31013
Shared         14743

#### 8. Generando dummies de variables categóricas

In [21]:
listings=pd.concat([listings, pd.get_dummies(listings['property_type'])], axis=1) 
listings=pd.concat([listings, pd.get_dummies(listings['room_type'])], axis=1) 
listings=pd.concat([listings, pd.get_dummies(listings['bathroom_type'])], axis=1) 
#listings=pd.concat([listings, pd.get_dummies(listings['bed_type'])], axis=1) 

var_categorical=['property_type', 'room_type', 'bathroom_type' ]
listings=listings.drop(var_categorical, axis=1)

#### 9. Removiendo datos faltantes

In [23]:
listings_final=listings.dropna()
print('El conjunto de salida corresponde al ' , round(listings_final.shape[0]/listings.shape[0],2), 'de las filas que contiene el conjunto de entrada')

El conjunto de salida corresponde al  0.77 de las filas que contiene el conjunto de entrada

In [24]:
listings_final.shape

(35113, 31)

In [28]:
with pd.option_context('display.max_rows', 3, 'display.max_columns', None): 
    display(listings_final)

,id,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,accommodates,bathrooms_text,amenities,price,minimum_nights,maximum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews,instant_bookable,calculated_host_listings_count,reviews_per_month,Apartment,House,Other,Room,Entire home/apt,Private room,Shared room,Private,Shared
0,2595,0.0,6.0,1.0,1.0,40.75362,-73.98377,2,1 bath,"[""Iron"", ""Cleaning before checkout"", ""Extra pi...",175.0,3,1125,1,30,60,90,365,48,0,2,0.37,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45695,45290019,1.0,11.0,1.0,1.0,40.65846,-73.96106,3,1 bath,"[""Laptop-friendly workspace"", ""Iron"", ""Carbon ...",79.0,1,30,1,26,56,85,85,1,1,1,1.00,1,0,0,0,1,0,0,1,0

In [26]:
listings_final.shape

(35113, 31)

In [27]:
listings_final.to_csv('C:\\Users\\Andrea\\Desktop\\Datasets\\Airbnb NY\\Listings_clean.csv')